<div class="form_content links_content">
  <div class="form_title">Top 25 Repositories</div>

  <%#= form_for @report, url: links_path, method: :post do |f| %>
  <form id="links_form">
    <div id="timerange" class="clearfix" >
      <%= render "layouts/time_range" %>
      <button type="submit" class="bttn" id="links-btn">Update</button>
    </div>
    <%#= f.button "Update!", class: "bttn", id: "timerange-btn" %>
    <%# end %>
  </form>

  <div class="panel panel-default">
    <table class="table table_fixed" >
      <thead class="links_table_title">
      <tr>
        <th class="span1">Rank</th>
        <th class="span2">Count</th>
        <th class="span3">Name</th>
        <th class="span4">URL</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="div-table-content">
    <table class="table table-hover">
      <tbody>
        <% count = 1 %>
        <% @data.each do | dat | %>
          <tr>
            <td class="span1"><%= count %></td>
            <td class="span2"><%= dat[:count] %></td>
            <td class="span3"><%= dat[:name] %></td>

            <% url = dat[:url] %>
            <td class="span4">
              <%= link_to url, url_for(url), target: '_blank' %>
            </td>
          </tr>
          <% count += 1%>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
