<div>
  <div class="form_content links_content">
    <div class="form_title">Top 25 Repositories</div>

    <%= render "layouts/time_range" %>

    <table class="table table-hover">
      <thead class="links_table_title">
      <tr>
        <th>Rank</th>
        <th>Count</th>
        <th>Name</th>
        <th>URL</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                  url_for('https://github.com/ceospfx/epoch'),
                  target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                  url_for('http://www.githubarchive.org'),
                  target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                  url_for('http://www.githubarchive.org'),
                  target: '_blank' %>
          </td>
        </tr>

        <tr>
          <td>4</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>

        <tr>
          <td>7</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>9</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>

        <tr>
          <td>10</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>11</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>12</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>13</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>14</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>15</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>16</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>17</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>18</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>19</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>20</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>21</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>22</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>23</td>
          <td>604</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>24</td>
          <td>502</td>
          <td>gitHub Archive</td>
          <td><%= link_to 'http://www.githubarchive.org/',
                          url_for('http://www.githubarchive.org'),
                          target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>25</td>
          <td>874</td>
          <td>epoch</td>
          <td><%= link_to 'https://github.com/ceospfx/epoch',
                          url_for('https://github.com/ceospfx/epoch'),
                          target: '_blank' %>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>