<!--don't include the button - so I can listen for specific events-->

<div class="timerange_grp">
  <label for="date_menu">Date</label>
  <select name="date_menu" id="date_menu">
    <option value="0" selected="1">2014-01-01</option>
    <option value="1">2014-01-01</option>
  </select>
</div>

<div class="timerange_grp">
  <label for="start_menu">Start Time</label>
  <select name="start_menu" id="start_menu">
    <% default = '12:00 pm' %>
    <% count = 1 %>
    <% @hours.each do | h | %>
      <% if h === default %>
        <option value="<%= count %>" selected="1" > <%= h %> </option>
      <% else %>
        <option value="<%= count %>"> <%= h %> </option>
      <% end %>
      <% count += 1 %>
    <% end %>
  </select>
</div>

<div class="timerange_grp">
  <label for="end_menu">End Time</label>
  <select name="end_menu" id="end_menu">
    <% default = '1:00 pm' %>
    <% count = 1 %>
    <% @hours.each do | h | %>
      <% if h === default %>
        <option value="<%= count %>" selected="1" > <%= h %> </option>
      <% else %>
        <option value="<%= count %>"> <%= h %> </option>
      <% end %>
      <% count += 1 %>
    <% end %>
  </select>
</div>

